.header {
  background-color: var(--light-color);
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  text-decoration: none;
  font-weight: 600;
  color: var(--accent-color);
  font-size: 1.5rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-login,
.btn-register {
  padding: 8px 16px;
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--accent-color);
  transition: all 0.3s ease;
}

.btn-register {
  background-color: var(--accent-color);
  color: white;
}

.btn-login:hover {
  background-color: var(--accent-color);
  color: white;
}

.btn-register:hover {
  background-color: white;
  color: var(--accent-color);
}

.menuBtn {
  display: none;
  color: var(--accent-color);
  background-color: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: transform 8s ease;
  border: none;

  .menuBtn:active {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background: var(--light-color);
    display: none;
    z-index: 10;
    /* border: solid; */
  }
  .navigation.active {
    display: flex;
  }
}