/* src/components/Hero.css */

/* src/components/Hero.css */

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5%;
  color: var(--text-color);
  background: linear-gradient(-45deg, #e3fdfd, #b6cdf7, #a6e3e9, #71c9ce);  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  z-index: 1;
  color: white;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: var(--accent-color);
  display: inline-block;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--light-color);
  color: var(--accent-color);
  border: solid 0.1rem var(--accent-color);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 5%;
    height: auto;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-primary{
    width: 8rem;
    font-size: 0.8rem;
  }

  .hero-img {
    margin-top: 2rem;
  }

  .hero-image img {
    max-width: 80%;
  }
}
